@model AppleShop.Models.Category

@{
    ViewBag.Title = "Tạo danh mục mới";
}
@* Thêm enctype để hỗ trợ upload file *@
@using (Html.BeginForm("Create", "Categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thông tin danh mục</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="mb-3">
            @Html.LabelFor(model => model.Name, "Tên danh mục", htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Description, "Mô tả", htmlAttributes: new { @class = "form-label" })
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 3 })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <label for="ImageFile" class="form-label">Chọn hình ảnh đại diện</label>
            <input type="file" name="ImageFile" id="ImageFile" class="form-control" />

            @* Thẻ img để hiển thị ảnh xem trước *@
            <img id="imagePreview" src="#" alt="Xem trước hình ảnh" class="mt-2" style="max-height: 200px; display: none;" />
        </div>


        <div class="mt-4">
            <input type="submit" value="Tạo mới" class="btn btn-primary" />
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
}