@model AppleShop.Models.Category

@{
    ViewBag.Title = "Chi tiết Danh mục";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">@ViewBag.Title: @Model.Name</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <h4>Thông tin cơ bản</h4>
                <dl class="row">
                    <dt class="col-sm-3">Tên Danh mục</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                    <dt class="col-sm-3">Mô tả</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>
                </dl>
                <hr />

                @* Hiển thị danh sách sản phẩm thuộc danh mục này *@
                <h4>Các sản phẩm thuộc danh mục này</h4>
                @if (Model.Products.Any())
                {
                    <ul class="list-group">
                        @foreach (var product in Model.Products)
                        {
                            <li class="list-group-item">@product.Name</li>
                        }
                    </ul>
                }
                else
                {
                    <p class="text-muted">Chưa có sản phẩm nào trong danh mục này.</p>
                }
            </div>

            <div class="col-md-4">
                <h5 class="text-center">Hình ảnh</h5>
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img src="@Model.ImageUrl" class="img-fluid rounded shadow-sm" alt="@Model.Name" />
                }
                else
                {
                    <div class="text-center text-muted">Chưa có hình ảnh</div>
                }
            </div>
        </div>
    </div>
    <div class="card-footer">
        @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>